body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background: #181818;
}
ol, ul {
  color: aquamarine;
  padding-left: 30px;
  font-size: 50px;
}
.board-row:after {
  clear: both;
  content: "";
  display: table;
}
.status {
  margin-bottom: 10px;
}
.square{
  background: #717171;
  float: left;
  font-size: 24px;
  font-weight: bold;
  height: 180px;
  margin-right: 5px;
  margin-top: 5px;
  text-align: center;
  width: 180px;
  border: none;
  font-size: 80px;
}
.square:focus {
  outline: none;
}
.kbd-navigation .square:focus {
  background: #ddd;
}
.game {
  display: flex;
  flex-direction: row;
}
.game-info {
  margin-left: 20px;
}
.game-board{
  position: absolute;
  left: 33%;
  top: 120px;
}
.desc{
  position: absolute;
  left: 33%;
  color: aquamarine;
  font-size: 60px;
}
.game-info button{
  background: #717171;
  float: left;
  height: 50px;
  font-size: 24px;
  margin-right: 5px;
  margin-top: 5px;
  text-align: center;
  width: 180px;
  border: none;
  font-size: 20px;
  display: flex;
  cursor: pointer;
}

.game-info button:focus{
  background: #717171;
  float: left;
  height: 50px;
  font-size: 24px;
  margin-right: 5px;
  margin-top: 5px;
  text-align: center;
  width: 180px;
  border: none;
  font-size: 20px;
  display: flex;
  cursor: pointer;
  font-weight: bold;
}

.square.highlight {
  background: aquamarine;
  float: left;
  font-size: 24px;
  font-weight: bold;
  height: 180px;
  margin-right: 5px;
  margin-top: 5px;
  text-align: center;
  width: 180px;
  border: none;
  font-size: 80px;
}
